@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br />

<p><strong>Developed by:</strong> @ViewData["DevelopedBy"]</p>
<p><strong>Github:</strong> <a href="https://github.com/primedoug" target="_blank">@ViewData["GithubUser"]</a></p>